In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#read in bootstrap values of benchmarking dataset

In [5]:
boot_tequila = pd.read_csv("/mnt/scratch2/zahra/exp_quant_time/SH-SY5Y-1_quant/short_read/aux_info/bootstrap/quant_bootstraps.tsv", sep="\t")

In [6]:
boot_tequila = boot_tequila.T

In [7]:
row_variances = boot_tequila.var(axis=1)
row_means = boot_tequila.mean(axis=1)

In [8]:
row_variances = np.array(row_variances)
row_means = np.array(row_means)

# Calculate InfRV with a condition to handle row_means equal to zero
infRV_tequila = np.zeros_like(row_means)  # Initialize with zeros

infRV_tequila = np.maximum(row_variances - row_means, 0) / (row_means + 5)
infRV_tequila = infRV_tequila + 0.01

In [9]:
infRV_tequila_df = {}
infRV_tequila_df["Txp"] = boot_tequila.index
infRV_tequila_df["infRV"] = infRV_tequila
infRV_tequila_df["mean"] = row_means
infRV_tequila_df["variance"] = row_variances
infRV_tequila_df = pd.DataFrame(infRV_tequila_df)
infRV_tequila_df

                    Txp     infRV         mean     variance
0       ENST00000456328  0.532610     5.028056    10.268822
1       ENST00000450305  0.010000     0.000000     0.000000
2       ENST00000488147  1.282096  1229.655915  2800.256993
3       ENST00000619216  0.010000     0.000000     0.000000
4       ENST00000473358  0.358309     1.523094     3.795144
...                 ...       ...          ...          ...
199994          R1_12_2  0.010000     0.000000     0.000000
199995          R1_12_1  0.010000     0.000000     0.000000
199996          R2_59_1  0.010000     0.000000     0.000000
199997          R2_59_2  0.010000     0.000000     0.000000
199998          R2_59_3  0.010000     0.000000     0.000000

[199999 rows x 4 columns]

In [10]:
infRV_tequila_df.to_csv('/mnt/scratch2/zahra/exp_quant_time/SH-SY5Y-1_quant/short_read/aux_info/bootstrap/txp_infRV.csv', index=False, sep="\t")